[Unit]
Description=Amperage monitoring email warnings 
After=network.target metern.service

[Service]
Type=simple
ExecStart=/var/www/MyScripts/AmpCtrl/StartService.sh

[Install]
WantedBy=multi-user.target

