[Unit]
Description=Wattage monitoring email warnings 
After=network.target metern.service

[Service]
Type=simple
ExecStart=/var/www/MyScripts/WattCtrl/StartService.sh

[Install]
WantedBy=multi-user.target

